name: "Lint PR title"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            BREAKING
            build
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            revert
            style
            test
          scopes: |
            @binstruct/cli
            @binstruct/ethernet
            @binstruct/png
            @binstruct/wav
            @hertzg/binstruct
            @hertzg/bx
            @hertzg/crc
            @hertzg/ip
            @hertzg/mymagti-api
            @hertzg/routeros-api
            @hertzg/tplink-api
            @hertzg/wg-conf
            @hertzg/wg-ini
            @hertzg/wg-keys
